body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.left{
    display: flex;
    width: 33.3%;
    flex-direction: column;
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.banner{
    display: flex;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    margin-top: 40%;
    padding: 10px;
    justify-content: center;
}

.odin-logo{
    height: 100%;
    width: 20%;
    background-image: url(./images/odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right{
    display: flex;
    width: 66.6%;
    flex-direction: column;
}


.right > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}